<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header style="text-align: center;">
            <ion-card-subtitle>You are transfering to:</ion-card-subtitle>
            <ion-card-title>JANE SMITH</ion-card-title>
            <ion-card-title>Account Nº 0002</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <form [formGroup]="form" (ngSubmit)="executeTransfer()">

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Source Account</ion-label>
              <ion-select interface="popover" formControlName="source_account">
                <ion-select-option value="0">Nº0001 - 10000 COL</ion-select-option>
                <ion-select-option value="1">nª0002 - 10000 COL</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Amount</ion-label>
              <ion-input type="number" formControlName="amount"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input formControlName="description"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" type="submit" [disabled]="form.invalid">Transfer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
