<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="saveForm()">
    <ion-item>
      <ion-label position="floating">Email *</ion-label>
      <ion-input placeholder="Enter Email" formControlName="email"></ion-input>
    </ion-item>
    <app-form-input-error [form]="form" formInput='email'></app-form-input-error>
    <ion-item>
      <ion-label position="floating">Password *</ion-label>
      <ion-input placeholder="Enter Password" type="password" formControlName="password1"></ion-input>
    </ion-item>
    <app-form-input-error [form]="form" formInput='password1'></app-form-input-error>
    <ion-item>
      <ion-label position="floating">Repeat Password *</ion-label>
      <ion-input placeholder="Repeat Password" type="password" formControlName="password2"></ion-input>
    </ion-item>
    <app-form-input-error [form]="form" formInput='password2'></app-form-input-error>
    <br>
    <ion-button type="submit" color="primary" expand="block" [disabled]="form.invalid">Register</ion-button>
  </form>
</ion-content>
