<ion-header>
  <ion-toolbar>
    <ion-title>Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header style="text-align: center;">
            <ion-card-subtitle>You successfully transfered to:</ion-card-subtitle>
            <ion-card-title>{{ this.destinationData?.client_target_name }} {{ this.destinationData?.client_target_lastname }}</ion-card-title>
            <ion-card-title>Account Nº {{ this.destinationData?.account_number }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Amount</ion-label>
            <ion-note slot="end">{{ lastTransferData?.amount | currency:'COP':'symbol-narrow':'1.2-2' }} </ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-note slot="end">{{ lastTransferData?.description }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-note slot="end">{{ lastTransferData?.date | date: 'dd/MM/yyyy' }}</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="backToHome()">Finish</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
